# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Data files
dataset/
*.csv
*.xlsx
*.xls
*.parquet
*.feather
*.json
!package.json
!package-lock.json
!tsconfig.json
!.vscode/tasks.json
!**/components.json

# Model files
*.model
*.joblib
*.npy
*.npz
*.onnx
*.pt
*.pth
*.weights
trained_models/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.env
.venv